/*清空默认*/
		*{
			margin: 0;
			padding:0;
			text-decoration: none;
			list-style-type: none;
			box-sizing: border-box;
			font-size: 12px;
			color: #666;
		}
/*头部*/
	/*顶部*/
		#header-top{background-color: #eee;}
		.header-top{
			width: 1200px;
			margin: auto;
			font-size: 0px;
		}
		.header-top-left,.header-top-right{
			width: 570px;
			margin: 0 15px;
			display: inline-block;
			vertical-align: top;
		}
		.left-sidebar,.right-sidebar{
			display: inline-block;
			border-left: 1px solid #d2d2d2;
			border-right: 1px solid #d2d2d2;
			position: relative;
		}
		.right-sidebar{margin-left: -4px;}
		.left-sidebar>a,.right-sidebar>a{
			display: block;
			padding: 1px 10px;
			height: 34px;
			line-height: 34px;
		}
		.left-sidebar-div{
			position: absolute;
			z-index: 10;
			height: 0px;
			overflow: hidden;
			transition: 0.3s;
		}
		.left-sidebar-div>ul{
			padding: 5px 0;
			border:1px solid #d2d2d2;
			min-width: 120px;
			background-color: #fff;
		}
		.left-sidebar-div>ul a{
			display: block;
			padding: 3px 20px;
		}
		.left-sidebar:hover .left-sidebar-div{
			height: 56px;
			box-shadow: 0 2px 12px rgba(0,0,0,.175);
		}
		.right-sidebar:hover .left-sidebar-div{
			height: 78px;
			box-shadow: 0 6px 12px rgba(0,0,0,.175);
		}
		.right-sidebar:hover{
			background: #F4A137;
			color: #fff;
		}
		.left-sidebar:hover{
			background: #F4A137;
			color: #fff;
		}
		.header-top-right>ul>li{
			height: 34px;
			display: inline-block;
			padding: 0 5px;
			border-right: 1px solid #ddd;
			line-height: 34px;
			position: relative;
			width: 25px;
			overflow: hidden;
		}
		.header-top-right>ul{
			display: inline-block;
			float: right;
			font-size: 0px;
		}
		.fafa-a{
			display: inline-block;
			padding-left: 20px;
			height: 34px;
			color: #fff;
		}
		.fafa-a>i{color: #fff;}
		.i-one{
			position: absolute;
			z-index: 20;
			display: inline-block;
			top: 10px;
			color: #fff;
		}
		.header-top-right>ul>.li-width{
			width: 115px;
			background-color: #F4A137;
			color: #fff;
		}
	/*中间*/
		#header-centert-top{padding: 35px 0;}
		.header-center{
			width: 1200px;
			margin: auto;
			font-size: 0;
		}
		.center-img{
			width: 25%;
			display: inline-block;
			padding: 0 15px;
		}
		.center-nav{
			width: 58%;
			padding: 0 15px;
			margin-top: 4px;
			display: inline-block;
			vertical-align: top;
		}
		.center-nav-left{
			width: 160px;
			position: relative;
			border:1px solid #e5e5e5;
			height: 36px;
			display: inline-block;
		}
		.left-select{
			width: 100%;
			height: 100%;
			border:none;
			padding: 5px 10px;
			background-color: #eee;
		}
		.left-select>option{
			background-color: #fff;
			border:none;
		}
		.center-nav input{
			width: 467px;
			border: 1px solid #e5e5e5;
			min-height: 36px; 
			padding: 6px 12px;
			outline:none
		}
		.center-nav>form{font-size: 0px;}
		.center-nav>form>button{
			padding: 7px 12px;
			background-color: #676767;
			color: #fff;
			border:1px solid #676767;
			height: 36px;
		}
		.fa-search{color: #fff;}
		.center-right{
			width: 16.66%;
			height: 45px;
			display: inline-block;
			vertical-align: top;
			position: relative;
		}
		.center-right>div{
			margin:5px 10px;
			display: inline-block;
			background-color: #F4A137;
			width: 36px;
			height: 34px;
			padding-top: 8px;
			padding-left:8px;
		}
		.center-right>span{
			vertical-align: top;
			font-weight: bold
		}
		.center-right>p{
			position: absolute;
			z-index: 20;
			bottom:5px;
			left: 60px;
			color: #999;
		}
	/*三部分*/
		#header-centert-bottom{
			background: #666666;
		    min-height: 45px;
		    margin-bottom: 15px;
		}
		.header-centert-bottom{
			width: 1200px;
			margin: auto;
			font-size: 0px;
		}
		.centert-bottom-left{
			width: 25%;
			padding:0 15px;
			display: inline-block;
		}
		#centert-bottom-left{
			padding:15px;
			color: #fff;
			font-size: 16px;
			background-color: #444;
			position: relative;
		}
		.centert-bottom-left-div{
			width: 15px;
			margin: 3px 10px 0 0;
			display: inline-block;
		}
		#centert-bottom-nav>ul{border:1px solid #e5e5e5;}
		#centert-bottom-left>div>span{
			display: block;
		    width: 100%;
		    height: 3px;
		    margin-top: 2px;
		    background: #fff;
		}
		#centert-bottom-left>i{color: #fff;}
		#centert-bottom-nav{
			border-top: 3px solid #F4A137;
			width: 100%;
			position: absolute;
			z-index: 30;
			top: 100%;
			left: 0px;
		}
		.li-nav{position: relative;}
		.li-nav>a{
			display: block;
			padding:10px 15px;
			background-color: #fff;
		}
		.caret{
			width: 15px;
		    height: 15px;
		    margin: 5px 0;
		    position: absolute;
		    right: 10px;
		    top: 6px;
		}
		.li-nav>a>i{
			display: inline-block;
			padding-left: 5px;
    		font-size: 15px;
		}
		.li-nav-nav{
			padding:13px 10px;
			border-top: 1px solid #e5e5e5;
		}
		.li-nav>a:hover{
			background-color: #F4A137;
			color: #fff;
		}
		.li-nav-box{
			width: 900px;
			position: absolute;
			z-index: 40;
			left: 100%;
			top: 0;
			font-size: 0;
			display: none;
			background-color: #fff;
		}
		.li-nav-etui{
			padding: 20px;
			box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
			border: 1px solid #e6e6e6;
			font-size: 0;
		}
		.li-nav-etui-one{
			width: 33.33%;
			display: inline-block;
			padding: 0 15px;
			vertical-align: top;
		}
		.li-nav-etui-one ul,.li-nav-etui-two ul{margin-bottom: 15px;}
		.li-nav-etui-a{
			display: block;
		    font-weight: bold;
		    color: #222;
		    padding-bottom: 10px;
		    text-transform: uppercase;
		    height: 36px;
		    line-height: 24px;
		}
		.li-nav-etui-a+ul>li{height: 24px;}
		.li-nav-one:hover .li-nav-box{display: block;}
		.li-nav-three:hover .li-nav-box{display: block;}
		.li-nav-two:hover .li-nav-box{display: block;}
		.li-nav-four:hover .li-nav-box{display: block;}
		.li-nav-etui-a+ul>li>a:hover{color: #F4A137;}
		.li-nav-etui-two{
			width: 50%;
			display: inline-block;
			padding: 0 15px;
			vertical-align: top;
		}
		.li-nav-etui-two img{width: 100%;}
		.li-nav-etui>ul>li{height: 24px;}
		.li-nav-etui>ul>li>a:hover{color: #F4A137;}
		.centert-bottom-right{
			width: 75%;
			display: inline-block;
			margin-left: -15px;
		}
		.xiaojiantou{
			display: inline-block;
		    width: 0;
		    height: 0;
		    margin-left: 2px;
		    vertical-align: middle;
		    border-top: 4px dashed;
		    border-top: 4px solid\9;
		    border-right: 4px solid transparent;
		    border-left: 4px solid transparent;
		    color: #fff;
		}
		.centert-bottom-right-li{display: inline-block;}
		.centert-bottom-right-li>a{
			color: #fff;
			display: block;
			padding: 18px 18px 15px;
			font-size: 14px;
		}
		.label{
			background-color: #d5375f;
		    color: #fff;
		    font-size: 10px;
		    line-height: 17px;
		    padding: 0 5px;
		    position: absolute;
		    text-transform: none;
		    top: -5px;
		    border-radius: 2px;
		    font-weight: 700;
		}
		.centert-bottom-right>ul{position: relative;}
		.heng-nav{
			width: 100%;
			padding: 20px 5px;
			border-top: 3px solid #F4A137;
			font-size: 0;
		}
		.heng-nav-box{
			width: 25%;
			display: inline-block;
			padding: 0 15px;
			vertical-align: top;
		}
		.heng-nav-box>a,.heng-nav-box>a>span{display: block;}
		.heng-nav-box>a>span{
			border:1px solid #e5e5e5;
			position: relative;
			margin-bottom: 20px;
			background-color: #333;
			height: 196px;
			overflow: hidden;
		}
		.heng-nav-box>a>span>img{
			width: 100%;
			transition: 0.5s;
		}
		.heng-nav-box>a>h3{
			margin-bottom: 10px;
			font-size: 13px;
		    text-align: center;
		    font-weight: 600;
		    text-transform: uppercase;
		}
		.heng-nav-box-span{
			display: inline-block;
			padding: 7px 12px;
			font-size: 14px;
			background-color: #F4A137;
			color: #fff;
			position: absolute;
			z-index: 50;
			left: 25%;
			top: -50%;
			transition: 0.5s;
		}
		.heng-nav-box:hover .heng-nav-box-span{top: 45%;}
		.heng-nav-box:hover.heng-nav-box>a>span>img{opacity: 0.7;}
		.heng-nav-box:hover.heng-nav-box>a>h3{color: #F4A137;}
		.heng-nav-box-span:hover{background-color: #676767;}
		#heng-nav{
			position: absolute;
			z-index: 50;
			width: 100%;
			height: 0px;
			overflow: hidden;
			transition: 0.2s;
			box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
			left: 0;
			background-color: #fff;
		}
		.centert-bottom-right-li:hover #heng-nav{height: 288px;}
		.centert-bottom-right-li:hover #heng-nav-one{height: 200px;}
		.centert-bottom-right-li:hover #heng-nav-two{height: 349px;}
		.heng-nav-box>h2>a{
			display: block;
			text-transform: uppercase;
		    color: #222222;
		    border-bottom: 1px solid #ddd;
		    font-size: 14px;
		    font-weight: bold;
		    padding-bottom: 5px;
		    margin-bottom: 5px;
		}
		.heng-nav-box>ul a{
			line-height: 24px;
		    display: block;
		    padding: 3px 0;
		}
		#heng-nav-one,#heng-nav-two{
			position: absolute;
			z-index: 50;
			width: 100%;
			height: 0px;
			overflow: hidden;
			transition: 0.2s;
			width: 360px;
			box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
			background-color: #fff;
		}
		.heng-nav-box>img{width: 100%;}
		.heng-nav-box-one{margin-bottom: 20px;}
		#heng-nav-two{width: 100%;left: 0;}
		.heng-nav-box-box{
			width: 100%;
			font-size: 0;
		}
		.heng-nav-box-box-left{
			width: 40%;
			padding-right: 15px;
			display: inline-block;
		}
		.heng-nav-box-box-right{
			width: 60%;
			display: inline-block;
			vertical-align: top;
		}
		.heng-nav-box-box-left>img{width: 100%;}
		.heng-nav-box-box-right>h4>a{
			font-weight: normal;
			color: #666;
		    line-height: 24px;
		    display: block;
		    padding: 3px 0;
		}
		.box-xingxing{margin: 5px 0;}
		.box-xingxing>span{
			height: 14px;
			width: 14px;
			display: inline-block;
		}
		.fa-stack-1x{
			position: relative;
			top: 0;
			color: #ebdb2c;
		}
		.heng-nav-box-box-right>p{
			margin-bottom: 10px;
		}
/*主体*/
	/*轮播*/
		.flexslider{position:relative;height:425px;overflow:hidden;background:url(images/loading.gif) 50% no-repeat;}
		.slides{position:relative;z-index:1;}
		.slides li{height:425px;}
		.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center;}
		.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
		.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(images/dot.png) right 0 no-repeat;cursor:pointer;}
		.flex-control-nav .flex-active{background-position:0 0;}

		.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
		.flex-direction-nav li a{display:block;width:30px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
		.flex-direction-nav li a.flex-prev{left:40px;background:url(images/1.png) no-repeat}
		.flex-direction-nav li a.flex-next{right:40px;background:url(images/2.png) no-repeat}
	/*顶部*/
		.main-top{
			width: 1200px;
			margin: auto;
		}
		.main-top-box{
			width: 75%;
			margin-left: 25%;
			padding: 0 15px;
		}
		.main-top-box-nav>ul>li{display: inline-block;padding:0 5px;}
		.main-top-box-nav>ul>li>a:hover{color: #F4A137;}
		.main-top-box-nav>ul{display: inline-block;padding-bottom: 15px;}
		.main-top-box-nav>h5{
			display: inline-block;
		}
		.main-top-carousel{width: 600px;display: inline-block;height: 422px;vertical-align: top;}
		/*.main-top-carousel>img{width: 100%;}*/
		.main-top-caroused{
			width: 29%;
			padding-left: 10px;
			display: inline-block;
		}
		.main-top-caroused li{
			margin-bottom: 10px;
			width: 260px;
			position: relative;
		}
		.main-top-caroused-span{
			width: 0px;
			height: 137px;
			display: block;
			position: absolute;
			z-index: 50;
			top: 0;
			left: 50%;
			background-color: rgba(0, 0, 0, 0.3);
			transition: 0.5s;
		}
		.main-top-caroused li:hover .main-top-caroused-span{width: 100%;left: 0;}
		.main-top-carousef{margin-bottom: 30px;box-shadow: 3px 3px 0 0 #d9d9d9;}
		.main-top-carousef-box{
			padding:40px 0;
			background-color: #eee;
			text-transform: uppercase;
			font-size: 0;
		}
		.main-top-carousef-box>div{
			width: 25%;
			padding: 0 27px;
			border-right: 1px solid #ddd;
			display: inline-block;
		}
		.main-top-carousef-box a{
			display: block;
		}
		.ico-policy{
			background-image: url(img/123.png);
		    background-position: center 0;
		    width: 48px;
		    height: 36px;
		    /*font-size: 0;*/
		    float: left;
		}
		.main-top-carousef-box a:hover{color: #F4A137;}
	/*中部*/
		.main-center{
			width: 1200px;
			padding: 0 15px;
			margin: auto;
			margin-bottom: 30px;
		}
		/*一*/
			.center-one-nav{
				height: 35px;
				border-bottom: 1px solid #ddd;
			}
			.center-one-nav>h3{
				line-height: 34px;
			    margin: 0 0 10px;
			    text-transform: uppercase;
			    position: relative;
			    font-size: 16px;
			    color: #000;
			    display: inline-block;
			}
			.center-one-nav>h3>span{
				width: 120px;
			    height: 1px;
			    background: #F4A137;
			    display: block;
			    position: absolute;
			    bottom: 0;
			    margin-bottom: -1px;
			}
			.center-one-nav-ul{
				float: right;
				margin-right: 80px;
			}
			.center-one-nav-ul>li{
				padding: 0 12px;
				display: inline-block;
				line-height: 30px;
			}
			#box1,#box2,#box3{font-size: 0;width: 1493.75px;overflow: hidden;width: 1200px;}
			.center-one-box{
				width: 273.75px;
    			margin-right: 25px; 
    			display: inline-block;
			}
			.center-one-box1{
				border: 1px solid #dddddd;
				padding: 15px;
				margin: 15px 0 35px;
			}
			.one-box1-img{
				position: relative;
				width: 100%;
				overflow: hidden;
			}
			.one-box1-image{margin-bottom: 15px;position: relative;overflow: hidden;}
			.one-box1-image>img{width: 100%;}
			.shangpin-img{position: absolute;z-index: 60;transition: 0.2s;top: 100%;left: 0;}
			.rating-box{margin: 5px 0;}
			.rating-box span{height: 14px;width: 14px;display: inline-block;}
			.price-new{color: #F4A137;margin-right: 5px;}
			.price-old{text-decoration: line-through;color: #999;font-size: 13px;}
			.button-group{margin: 10px 0;}
			.addToCart{
				position: relative;
			    border: 1px solid #ddd;
			    background: transparent;
			    color: #444;
			    font-size: 12px;
			    font-weight: bold;
			    height: 38px;
			    text-transform: uppercase;
			    padding: 7px 15px;
			}
			.addToCart>i{margin-right: 5px;}
			.wishlist{
				background: transparent;
			    border-radius: 0;
			    border: 1px solid #ddd;
			    height: 38px;
			    text-align: center;
			    padding: 0 10px;
			    vertical-align: top;
			}
			.quickview{
				position: absolute;
				z-index: 70;
				top: -100px;
				display: block;
				width: 107px;
				height:35px;
				background-color: #F4A137;
				color: #fff;
				line-height: 35px;
				text-align: center;
				left: 30%;
				transition: 0.4s;
			}
			.center-one-box1:hover .quickview{top: 50%;}
			.center-one-box1:hover .shangpin-img{top: 0;}
			.center-one-box1:hover .caption>h4{color:#F4A137;}
			.xuanXiangKa{
				border-left: 1px solid #ddd;
			    border-bottom: 1px solid white;
			    margin-top: 1px;
			    padding-bottom: 1px;
			    margin-bottom: 0px;
			    border-right: 1px solid #ddd;
			    border-top: 3px solid #F4A137;
			    color: #F4A137;
			}
		/*二*/
			.main-center-two{margin-bottom: 30px;width: 1200px;font-size: 0;}
			.center-two-left{
				width: 33.33%;
				display: inline-block;
				padding: 0 15px;
			}
			.center-two-img{position: relative;}
			.center-two-yy{
				width: 0;
				height: 100%;
				position: absolute;
				z-index: 60;
				background: rgba(0, 0, 0, 0.3);
				left: 50%;
				top: 0;
				transition: 0.4s;
			}
			.center-two-img:hover .center-two-yy{
				width: 100%;
				left: 0;
			}
		/*四*/
			.main-four-h3{
				border-bottom: 1px solid #e6e6e6;
			    line-height: 30px;
			    margin: 0 0 10px;
			    text-transform: uppercase;
			    position: relative;
			    font-size: 16px;
			    color: #000;
			}
			.main-four-h3>span{
				width: 120px;
			    height: 1px;
			    background: #F4A137;
			    display: block;
			    position: absolute;
			    bottom: 0;
			    margin-bottom: -1px;
			}
			.main-four-ul{margin: 5px -5px;font-size: 0;}
			.main-four-ul>li{
				padding: 0 5px;
			    font-size: 14px;
			    color: #666666;
			    text-align: center;
			    width: 196px;
			    text-transform: uppercase;
			    display: inline-block;
			}
			.main-four-div{
				background-color: #EEEEEE;
			    background-position: center;
			    overflow: hidden;
			    border-color: white;
			    border: 1px solid white;
			}
			.main-four-div>a{
				float: left;
			    font-weight: bold;
			    width: 100%;
			    height: 126px;
			    text-decoration: none;
			    line-height: 22px;
			    padding: 10px;
			    color: #999;
			    border-bottom: 3px solid #F4A137;
			    background-position: center center;
			}
			.main-four-div:hover{
				background-color: #fff;
				border-color: #F4A137;
			}
		/*五*/
			.main-footer{background-color: #f5f5f5;}
			.main-footer-div{
				width: 1200px;
				margin: 30px auto 20px;
				padding: 0 15px;
			}
			.main-footer-box{width: 1200px;font-size: 0;}
			.main-footer-etui{width: 23%;padding: 15px 0;margin: 0 1%;display: inline-block;}
			.image-cat{position: relative;width: 100%;}
			.image-cat>img{width: 100%;}
			.image-cat-a{
				text-transform: uppercase;
			    font-weight: bold;
			    color: #fff;
			    background: #F4A137;
			    padding: 5px 20px 5px 10px;
			    position: absolute;
			    top: 86px;
			    left: 22px;
			    display: inline-block;
			    line-height: 100%;
			}
			.text-div{padding: 13px 13px 0;}
			.text-div>h4{
				font-size: 14px;
			    font-weight: bold;
			    margin-bottom: 5px;
			}
			.text-section{
				padding-left: 11px;
			    line-height: 22px;
			    position: relative;
			    width: 100%;
			    color: #666;
			}
			.text-section>div{
				width: 4px;
			    height: 4px;
			    background: #999;
			    position: absolute;
			    left: 0;
			    top: 10px;
			}
/*底部*/
	/*第一部分*/
		.footer{background-color: #dddddd;padding: 34px 0 0;}
		.footer-top{width: 1200px;margin: auto;font-size: 0;	}
		.footer-top-box{width: 25%;padding: 0 15px;display: inline-block;vertical-align: top;}
		.footer-top-box>h3{margin: 20px 0 15px;font-size: 16px;color: #000;}
		.footer-top-box>ul{margin-bottom: 10px;}
		.footer-top-li{
			color: #444444;
		    padding: 0 0 5px 41px;
		    position: relative;
		    line-height: 18px;
		    min-height: 40px;
		}
		.footer-top-li>i{
			display: block;
			height: 30px;
			width: 30px;
			position: absolute;
			z-index: 60;
			left: 0px;
		    position: absolute;
		    background-color: #969696;
		    top: 4px;
		    color: white;
		    border-radius: 2px;
		    text-align: center;
		    line-height: 30px;
		    font-size: 16px;
		}

	/*第二部分*/
		.footer-centre{width: 1200px;padding: 0 15px;margin: auto;}
		.footer-centre>h4{
			padding-bottom: 10px;
			margin:10px 0;
			color: #333333;
   			font-weight: bold;
		}
		.hr{
			margin-bottom: 20px;
		    border: 0;
		    border-top: 1px solid #eee;
		}
		.footer-centre-ul>li{
			padding-bottom: 2px;
		}
		.footer-centre-ul>li>h5{margin-right: 5px;display: inline-block;color: #000;}